<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Book App</title>
</head>
<body>
<h1>Address Book Application</h1>

<form action="#" th:action="@{/addressBooks}" th:object="${addressBook}" method="post">
    <p>
        <input type="submit" value="Create AddressBook"/>
    </p>
</form>

<table>
    <thead>
    <tr>
        <th>Address Book id</th>
        <th># of Buddies</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="addressBook : ${allAddressBooks}">
        <td th:text="${addressBook.getId()}">book 1</td>
        <td th:text="${addressBook.getBuddies().size()}">12</td>
        <td>
            <a th:href="@{/addressBooks/{id}(id=${addressBook.getId()})}">Go To</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>